<style type="text/css">
	.green { color: green; }
	.red { color: red; }
	.blue { color: blue; }
</style>
<p>Friends(<span data-bind="text:friends().length"></span>)</p>
<ul data-bind="foreach:friends">
	<li data-bind="css: styleFriend">
		<span data-bind="text:nameFriend"></span>
		<input type="checkbox" data-bind="checked:knowJS" />
		<input data-bind="value:favLib, visible:knowJS" />
		<input data-bind="value:noLib"/>
		<button data-bind="click:removeFriend">X</button>
	</li>
</ul>
<button data-bind="click:addFriend, visible:friends().length < 5">Add Friend</button>
<script src="src/knockout-3.4.0.js"></script>
<script src="src/knockout.mapping-latest.js"></script>
<script>
	function Frnd() {
		return {
			nameFriend: 'Buddy',
			knowJS: false,
			favLib: 'Knockout',
			isWeird: false,
			noLib: 3
		}
	}

	function Friend(frnd) {
		var map = ko.mapping.fromJS(frnd);
		map.removeFriend = function() {
			obj.friends.remove(map);
		}
		map.styleFriend = ko.computed(function() {
			var lib = map.noLib();
			if ( lib > 3)
				return 'blue';
		});
		return map;
	}

	// function Friend(name) {
	// 	this.nameFriend = name;
	// 	this.knowJS = ko.observable(false);
	// 	this.favLib = ko.observable('');
	// 	this.removeFriend = function() {
	// 		obj.friends.remove(this);
	// 	}
	// }
	var obj = {
		friends: ko.observableArray([new Friend(new Frnd())])
	};
	obj.addFriend = function() {
		obj.friends.push(new Friend(new Frnd()));
	}
	ko.applyBindings(obj);
</script>